.pos .paymentline.selected.o_pos_pax_txn_pending, .pos .paymentline.o_pos_pax_txn_pending {
    background: rgb(239, 153, 65);
}
.pos .col-tendered.edit.o_pos_pax_txn_pending {
    color: rgb(239, 153, 65);
    box-shadow: 0px 0px 0px 3px rgb(239, 153, 65);
}

.pos .paymentline .pax-send-transaction-button {
    cursor: pointer !important;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255,255,255, 0.2);
    display: inline-block;
    text-align: center;
    margin: 6px 5px 0 0;
    padding: 2px 5px;
    min-width: 100px;
}
